// out: css/style.css
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body
    font-family: 'Ubuntu';
    .charts
        position: relative;
        // margin:10% 10%;
        // height: 80%;
        // width: 80%;
