// out: i2.css
.popup
    background-color: #fafafa;
    box-shadow: 0 0 400px black;
    .readonly-data
        list-style: none;
        font-weight: 300;
        .data-detail
            font-weight: 600;
            margin-left: 1em;
    .dashblock
        min-width: 320px;
        position: relative;
    .title
        font-size: 20px;
        display: block;
        padding-left: 20px;
    strong.title
        font-size: 22px;
        font-weight: 600;
    .text
        padding-left: 20px;
.user-instrument
    .button
        display: inline-block;
        height:50px;
        line-height: 50px;
        font-size: 20px;
        padding:0 10px;
        font-weight: 600;
        text-align: center;
        border-radius: 4px;
        transition: all .2s ease-in;
        overflow: hidden;
        color:white;
        background-color: grey;
        border:solid 3px grey;
        text-decoration: none;
    .button:hover
        color: grey;
        background-color: white;
    .instrument-fee
        label,input
            font-size: 18px;
            height:36px;
            line-height: 36px;
            display: inline-block;
        input
            border-radius: 3px;
            width: 36px;
        .button
            display: block;
    .tunner
        .user_chart_tune
            font-size: 36px;
            text-align: center;
            width:300px;
            height:64px;
            line-height: 64px;
            display: block;
        .button
            background-color: #34323c;
            border: solid 3px #34323c;
            width: 92px;
            color: #fff;
        .button:hover
            background-color: #fff;
            color: #34323c;
.user-accounts
    .item-bank
        display: block;
        width:100%;
        .user-account-name
            font-size: 20px;
            margin-right: 10px;
.user-basic-info
    ul
        li
            font-weight: 800;
            span
                font-weight: 400;
.show
    display:block;
